[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf
[submodule "fasd"]
	path = fasd
	url = https://github.com/clvv/fasd
[submodule "fzf-jump"]
	path = fzf-jump
	url = https://github.com/asoltys/fzf-jump.git
