[user]
	name = Adam Soltys
	email = adam.soltys@pwgsc-tpsgc.gc.ca
[core]
	autocrlf = input
	editor = vim -c start
	excludesfile = /home/adam/.gitignore
[diff]
	tool = meld
[branch]
	autosetuprebase = always
[alias]
  cm = commit
  co = checkout
  br = branch
  rb = rebase
  cp = cherry-pick
  p = push
  l = pull
  f = fetch
