[user]
	name = Adam Soltys
	email = asoltys@gmail.com
	signingkey = EDAC6CF3B91AC3AAC0F786E8A1027FED85A5CED3
[core]
	autocrlf = input
	editor = vim -c start
	excludesfile = /home/adam/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
	whitespace = cr-at-eol
[diff]
	tool = meld
[branch]
	autosetuprebase = always
[alias]
  cm = commit
  co = checkout
  br = branch
  rb = rebase
  cp = cherry-pick
  p = push
  l = pull
  f = fetch
  c = clone
  lg = log --color=always --format='%C(auto)%h%d %s %C(blue)%an %C(bold)%C(black)%aD'
	ctags = !.git/hooks/ctags
[color]
	ui = always
[hub]
	protocol = https
[http]
	postBuffer = 524288000
[push]
	default = current
[credential]
	helper = store
[include]
  path = ~/.gitconfig_secrets
[commit]
	gpgsign = false
	gpgsigning = false
[log]
	date = iso
